@model Mikmak.Models.Product

@{
    ViewData["Title"] = "Create";
}

<header class="row col-md-12 table-bordered">
    <div class="col-md-8">
        <a href="/Home/Admin" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
        </a>
    </div>
    <div class="col-md-4 text-right">
        <h1>Mikmak</h1>
    </div>
</header>

<div class="row col-md-12">
    <br />
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <form asp-action="Create">

                    <div class="form-horizontal">

                        <div class="col-md-12">
                            <div class="col-md-9">
                                <h4>Product</h4>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input type="submit" value="Create" class="btn btn-primary btn-lg navbar-right" />
                                    <a href="/Product/Index" class="btn btn-primary btn-lg navbar-right">Cancel</a>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-12">
                            <br />
                            <br />
                        </div>

                        <div class="details col-md-12 table-bordered">
                            <br />

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Name" class="col-md-2 control-label">Naam</label>
                                <div class="col-md-10">
                                    <input asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name" class="text-danger" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Price" class="col-md-2 control-label">Prijs</label>
                                <div class="col-md-10">
                                    <input asp-for="Price" class="form-control" />
                                    <span asp-validation-for="Price" class="text-danger" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Basiseenheden</label>
                                <div class="col-md-1">
                                    @await Component.InvokeAsync("UnitBaseDropDown", Model.UnitBaseId)
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Description" class="col-md-2 control-label">Beschrijving</label>
                                <div class="col-md-10">
                                    <textarea asp-for="Description" class="form-control"></textarea>
                                    <span asp-validation-for="Description" class="text-danger" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="DiscountPercentage" class="col-md-2 control-label">Kortingspercentage</label>
                                <div class="col-md-10">
                                    <input asp-for="DiscountPercentage" class="form-control" />
                                    <span asp-validation-for="DiscountPercentage" class="text-danger" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Image" class="col-md-2 control-label">Afbeelding</label>
                                <div class="col-md-10">
                                    <input asp-for="Image" class="form-control" />
                                    <span asp-validation-for="Image" class="text-danger" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="ShippingCost" class="col-md-2 control-label">Verzendingkostfactor</label>
                                <div class="col-md-10">
                                    <input asp-for="ShippingCost" class="form-control" />
                                    <span asp-validation-for="ShippingCost" class="text-danger" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Thumbnail" class="col-md-2 control-label">Thumbnail</label>
                                <div class="col-md-10">
                                    <input asp-for="Thumbnail" class="form-control" />
                                    <span asp-validation-for="Thumbnail" class="text-danger" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="TotalRating" class="col-md-2 control-label">Totale Score</label>
                                <div class="col-md-10">
                                    <input asp-for="TotalRating" class="form-control" />
                                    <span asp-validation-for="TotalRating" class="text-danger" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Votes" class="col-md-2 control-label">Stemmen</label>
                                <div class="col-md-10">
                                    <input asp-for="Votes" class="form-control" />
                                    <span asp-validation-for="Votes" class="text-danger" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="SupplierId" class="col-md-2 control-label">Supplier</label>
                                <div class="col-md-1">
                                    @await Component.InvokeAsync("SupplierDropDown", Model.SupplierId)
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-4 table-bordered">
            @await Component.InvokeAsync("ProductAll")
        </div>
    </div>
</div>

<footer class="row col-md-12">
    <br />
    <div class="col-md-12 text-center">&copy; 2017 - Mikmak - Mohamed El Kachari</div>
</footer>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
