﻿@model IEnumerable<Mikmak.Models.ShippingMethod>


<main class="col-md-12 text-center">

    <table class="list text-center col-md-12">

        <thead id="colored" class="text-center">
            <tr>
                <th class="col-md-4 text-center">
                    <label for="Details">Select</label>
                </th>
                <th class="col-md-4 text-center">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th class="col-md-4 text-center">
                    @Html.DisplayNameFor(model => model.Price)
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id" class="glyphicon glyphicon-arrow-right glyphicon-plus"></a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</main>
