﻿@{
    ViewData["Title"] = "Admin Pagina";
}

<header class="row col-md-12 table-bordered">
    <div class="col-md-8">
    </div>
    <div class="col-md-4 text-right">
        <h1>Mikmak</h1>
    </div>
</header>
<main class="row col-md-12">
    <div class="row">
        <div class="col-md-3 card text-center tile">
            <div class="card-block">
                <h4 class="card-title">Producten</h4>
                <p class="card-text">Producten beschikbaar in de winkel.</p>
                <a href="/Product/Index" class="btn btn-primary">Bewerken</a>
            </div>
        </div>
        <div class="col-md-3 card text-center tile">
            <div class="card-block">
                <h4 class="card-title">Leverancier</h4>
                <p class="card-text">Leveranciers van de winkel.</p>
                <a href="/Supplier/Index" class="btn btn-primary">Bewerken</a>
            </div>
        </div>
        <div class="col-md-6 card text-center tile-picture">
            <img class="img-responsive col-md-offset-2" src="~/Mikmak.png" align="middle" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 card text-center tile">
            <div class="card-block">
                <h4 class="card-title">Klanten</h4>
                <p class="card-text">Klanten alfabetisch gerangschikt.</p>
                <a href="/Customer/Index" class="btn btn-primary">Bewerken</a>
            </div>
        </div>
        <div class="col-md-3 tile">
            <br />
            <img class="img-responsive col-md-offset-1" align="middle" src="~/Mikmak.gif" />
        </div>
        <div class="col-md-3 card text-center tile">
            <div class="card-block">
                <h4 class="card-title">Bestellingen</h4>
                <p class="card-text">Bestellingen per klant.</p>
                <a href="/Order/Index" class="btn btn-primary">Bewerken</a>
            </div>
        </div>
        @*<div class="col-md-3 text-center tile">
            <div class="card-block">
                <h4 class="card-title">Bestellingen</h4>
                <p class="card-text">Bestellingen Items.</p>
                <a href="/OrderItem/Index" class="btn btn-primary">Bewerken</a>
            </div>
        </div>*@
        <div class="col-md-3 text-center tile">
            <div class="card-block">
                <h4 class="card-title">Verzendmethoden</h4>
                <p class="card-text">Bestellingen verzenden.</p>
                <a href="/ShippingMethod/Index" class="btn btn-primary">Bewerken</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 tile">
            <br />
            <img class="img-responsive col-md-offset-1" align="middle" src="~/Mikmak.gif" />
        </div>
        <div class="col-md-3 card text-center tile">
            <div class="card-block">
                <h4 class="card-title">Landen</h4>
                <p class="card-text">Landen van waaruit klanten en leveranciers komen.</p>
                <a href="/Country/Index" class="btn btn-primary">Bewerken</a>
            </div>
        </div>
        <div class="col-md-3 card text-center tile">
            <div class="card-block">
                <h4 class="card-title">Bestellingen</h4>
                <p class="card-text">Status van de bestelling.</p>
                <a href="/OrderStatus/Index" class="btn btn-primary">Bewerken</a>
            </div>
        </div>
        <div class="col-md-3 card text-center tile">
            <div class="card-block">
                <h4 class="card-title">Basiseenheden</h4>
                <p class="card-text">Meter, kilo, stuk, enz.</p>
                <a href="/UnitBase/Index" class="btn btn-primary">Bewerken</a>
            </div>
        </div>
    </div>
</main>
<footer class="row col-md-12">
    <br />
    <div class="col-md-12 text-center">&copy; 2017 - Mikmak - Mohamed El Kachari</div>
</footer>
