﻿@{
    ViewData["Title"] = "Home Page";
}

<header class="row col-md-12 table-bordered">
    <div class="col-md-8">
    </div>
    <div class="col-md-4 text-right">
        <h1>Mikmak</h1>
    </div>
</header>
 <main class="row col-md-12">
    <div>
        <h3 class="center col-md-12">Showroom</h3>
    </div>
</main>
<footer class="row col-md-12">
    <a href="/Home/Admin" class="btn btn-primary table-bordered">Beheer</a>
    <div class="col-md-12 text-center">&copy; 2017 - Mikmak - Mohamed El Kachari</div>
</footer>
