@model Mikmak.Models.Supplier

@{
    ViewData["Title"] = "Create";
}

<header class="row col-md-12 table-bordered">
    <div class="col-md-8">
        <a href="/Home/Admin" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
        </a>
    </div>
    <div class="col-md-4 text-right">
        <h1>Mikmak</h1>
    </div>
</header>

<div class="row col-md-12">
    <br />
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <form asp-action="Create">

                    <div class="form-horizontal">

                        <div class="col-md-12">
                            <div class="col-md-9">
                                <h4>Supplier</h4>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input type="submit" value="Create" class="btn btn-primary btn-lg navbar-right" />
                                    <a href="/Supplier/Index" class="btn btn-primary btn-lg navbar-right">Cancel</a>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-12">
                            <br />
                            <br />
                        </div>

                        <div class="details col-md-12 table-bordered">
                            <br />
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Name" class="col-md-2 control-label">Naam</label>
                                <div class="col-md-10">
                                    <input asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name" class="text-danger" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Address" class="col-md-2 control-label">Adres</label>
                                <div class="col-md-10">
                                    <input asp-for="Address" class="form-control" />
                                    <span asp-validation-for="Address" class="text-danger" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="City" class="col-md-2 control-label">Gemeente</label>
                                <div class="col-md-10">
                                    <input asp-for="City" class="form-control" />
                                    <span asp-validation-for="City" class="text-danger" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="PostalCode" class="col-md-2 control-label">Postcode</label>
                                <div class="col-md-10">
                                    <input asp-for="PostalCode" class="form-control" />
                                    <span asp-validation-for="PostalCode" class="text-danger" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Region" class="col-md-2 control-label">Regio</label>
                                <div class="col-md-10">
                                    <input asp-for="Region" class="form-control" />
                                    <span asp-validation-for="Region" class="text-danger" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Code" class="col-md-2 control-label">Code</label>
                                <div class="col-md-10">
                                    <input asp-for="Code" class="form-control" />
                                    <span asp-validation-for="Code" class="text-danger" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Contact" class="col-md-2 control-label">Contact</label>
                                <div class="col-md-10">
                                    <input asp-for="Contact" class="form-control" />
                                    <span asp-validation-for="Contact" class="text-danger" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Mobile" class="col-md-2 control-label">Mobiel</label>
                                <div class="col-md-10">
                                    <input asp-for="Mobile" class="form-control" />
                                    <span asp-validation-for="Mobile" class="text-danger" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Phone" class="col-md-2 control-label">Telefoon</label>
                                <div class="col-md-10">
                                    <input asp-for="Phone" class="form-control" />
                                    <span asp-validation-for="Phone" class="text-danger" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="CountryId" class="col-md-2 control-label">Land</label>
                                <div class="col-md-1">
                                    @await Component.InvokeAsync("CountryDropDown", Model.CountryId)
                                </div>
                            </div>
                        </div>

                    </div>

                </form>
            </div>
        </div>
        <div class="col-md-4 table-bordered">
            @await Component.InvokeAsync("SupplierAll")
        </div>
    </div>
</div>




<footer class="row col-md-12">
    <br />
    <div class="col-md-12 text-center">&copy; 2017 - Mikmak - Mohamed El Kachari</div>
</footer>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
