@model Mikmak.Models.UnitBase

@{
    ViewData["Title"] = "Delete";
}

<header class="row col-md-12 table-bordered">
    <div class="col-md-8">
        <a href="/Home/Admin" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
        </a>
    </div>
    <div class="col-md-4 text-right">
        <h1>Mikmak</h1>
    </div>
</header>

<main class="row col-md-12">
    <br />
    <div class="row">
        <div class="col-md-8">

            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-9">
                        <h4>UnitBase</h4>
                    </div>
                    <div class="col-md-3">
                        <form asp-action="Delete">
                            <input type="submit" value="Delete" class="btn btn-danger btn-lg navbar-right" />
                        </form>
                        <a href="/UnitBase/Index" class="btn btn-primary btn-lg navbar-right">Cancel</a>
                    </div>
                </div>

                <div class="col-md-12">
                    <br />
                </div>

                <div class="col-md-12 table-bordered text-center">
                    <br />
                    <h4>Ben je zeker dat je dit wilt verwijderen?</h4>
                    <br />
                </div>

                <div class="col-md-12">
                    <br />
                </div>

                <div class="col-md-12 table-bordered">
                    <br />
                    <dl class="dl-horizontal">
                        <dt>
                            <label>Code</label>
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Code)
                        </dd>
                        <dt>
                            <label>Naam</label>
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>
                        <dt>
                            <label>Verzendingkostfactor</label>
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.ShippingCostMultiplier)
                        </dd>
                        <dt>
                            <label>Beschrijving</label>
                        </dt>
                        <dd>
                            @Html.TextAreaFor(model => model.Description, new { @readonly = "readonly" })
                        </dd>
                    </dl>
                </div>

            </div>
        </div>

        <div class="col-md-4 table-bordered">
            @await Component.InvokeAsync("UnitBaseAll")
        </div>

    </div>
</main>

<div>

</div>

<footer class="row col-md-12">
    <br />
    <div class="col-md-12 text-center">&copy; 2017 - Mikmak - Mohamed El Kachari</div>
</footer>
