﻿@model IEnumerable<Mikmak.Models.Country>

    <div class="form-group">
        <label for="CountryId" class="col-md-2 control-label"></label>
        <div class="col-md-10">

            <select id="CountryId" name="CountryId">
                @foreach (var item in Model)
                {
                    @if (item.Id == ViewBag.CountryId)
                    {
                        <option value="@item.Id" selected>@item.Name</option>

                    }
                    else
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                }


            </select>
        </div>
    </div>
