@model Mikmak.Models.Country

@{
    ViewData["Title"] = "Edit";
}

<header class="row col-md-12 table-bordered">
    <div class="col-md-8">
        <a href="/Home/Admin" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
        </a>
    </div>
    <div class="col-md-4 text-right">
        <h1>Mikmak</h1>
    </div>
</header>


<div class="row col-md-12">
    <br />
    <div class="row">
        <div class="col-md-8">

            <div class="row">
                <form asp-action="Edit">
                    <div class="form-horizontal">



                        <div class="col-md-12">
                            <div class="col-md-9">
                                <h4>Country</h4>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <a href="/Country/Index" class="btn btn-primary btn-lg navbar-right">Cancel</a>
                                    <input type="submit" value="Edit" class="btn btn-primary btn-lg navbar-right" />
                                </div>
                            </div>

                        </div>


                        <div class="col-md-12">
                            <br />
                            <br />
                        </div>


                        <div class="details col-md-12 table-bordered">
                            <br />
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Id" />
                            <div class="form-group">
                                <label asp-for="Code" class="col-md-2 control-label">Code</label>
                                <div class="col-md-10">
                                    <input asp-for="Code" class="form-control" />
                                    <span asp-validation-for="Code" class="text-danger" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Latitude" class="col-md-2 control-label"></label>
                                <div class="col-md-10">
                                    <input asp-for="Latitude" class="form-control" />
                                    <span asp-validation-for="Latitude" class="text-danger" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Longitude" class="col-md-2 control-label"></label>
                                <div class="col-md-10">
                                    <input asp-for="Longitude" class="form-control" />
                                    <span asp-validation-for="Longitude" class="text-danger" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Name" class="col-md-2 control-label">Naam</label>
                                <div class="col-md-10">
                                    <input asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name" class="text-danger" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="ShippingCostMultiplier" class="col-md-2 control-label">Verzendingkostfactor</label>
                                <div class="col-md-10">
                                    <input asp-for="ShippingCostMultiplier" class="form-control" />
                                    <span asp-validation-for="ShippingCostMultiplier" class="text-danger" />
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-4 table-bordered">
            @await Component.InvokeAsync("CountryAll")
        </div>
    </div>
</div>

<footer class="row col-md-12">
    <br />
    <div class="col-md-12 text-center">&copy; 2017 - Mikmak - Mohamed El Kachari</div>
</footer>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}