﻿* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

#colored{
    background-color:gold;
}

body {
    width: 100%;
    height: 100%;
}

div.body-content {
    width: 100%;
    height: 100%;
}

header {
    width: 100%;
    height: 13%;
    background-color: white;
    padding-top:7px;
    padding-left:0px;
    padding-right:0px;
}


main {
    width: 102%;
    height: 70%;
    background-color: white;
}

main div.row {
        width: 102%;
        height: 33.333333%;
}

.tile {
    width: 25%;
    height: 100%;
    border-radius:5px;
}

.tile-picture {
    width: 50%;
    height: 100%;
    border-radius:5px;
    background-color: white;
}

.tile:hover {
    border:3px solid gold;
}

main div.row:nth-child(even) div.tile:nth-child(odd) {
    background-color: lavender;
}

main div.row:nth-child(odd) div.tile:nth-child(even) {
    background-color: lavender;
}

main div.row:nth-child(even) div.tile:nth-child(even) {
    background-color: lightblue;
}

main div.row:nth-child(odd) div.tile:nth-child(odd) {
    background-color: lightblue;
}

.center{
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table .tile{
    background-color:red;
}

.glyphicon-menu-hamburger
{
    font-size: 40px;
    color: dodgerblue;
    border-color: dodgerblue;
}

h1{
    font-family:Verdana;
    font-size:50px;
    float:right;
    text-decoration:wavy;
}

.table-bordered{
    border: 7px solid dodgerblue;
    border-radius: 10px;
}

footer {
    width: 100%;
    height: 17%;
    background-color: dodgerblue;
    border-radius:10px;
}
