@model Mikmak.Models.ShippingMethod

@{
    ViewData["Title"] = "Create";
}

<header class="row col-md-12 table-bordered">
    <div class="col-md-8">
        <a href="/Home/Admin" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
        </a>
    </div>
    <div class="col-md-4 text-right">
        <h1>Mikmak</h1>
    </div>
</header>

<main class="row col-md-12">
    <br />
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <form asp-action="Create">

                    <div class="form-horizontal">

                        <div class="col-md-12">
                            <div class="col-md-9">
                                <h4>Shipping Method</h4>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input type="submit" value="Create" class="btn btn-primary btn-lg navbar-right" />
                                    <a href="/UnitBase/Index" class="btn btn-primary btn-lg navbar-right">Cancel</a>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-12">
                            <br />
                            <br />
                        </div>

                        <div class="details col-md-12 table-bordered">
                            <br />
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Name" class="col-md-2 control-label">Naam</label>
                                <div class="col-md-10">
                                    <input asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name" class="text-danger" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Price" class="col-md-2 control-label">Prijs</label>
                                <div class="col-md-10">
                                    <input asp-for="Price" class="form-control" />
                                    <span asp-validation-for="Price" class="text-danger" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Description" class="col-md-2 control-label">Beschrijving</label>
                                <div class="col-md-10">
                                    <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                                        
                                    <span asp-validation-for="Description" class="text-danger" />
                                </div>
                            </div>
                        </div>

                    </div>

                </form>
            </div>
        </div>
        <div class="col-md-4 table-bordered">
            @await Component.InvokeAsync("ShippingMethodAll")
        </div>
    </div>
</main>


<footer class="row col-md-12">
    <br />
    <div class="col-md-12 text-center">&copy; 2017 - Mikmak - Mohamed El Kachari</div>
</footer>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


