@model Mikmak.Models.ShippingMethod

@{
    ViewData["Title"] = "Details";
}

<header class="row col-md-12 table-bordered">
    <div class="col-md-8">
        <a href="/Home/Admin" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
        </a>
    </div>
    <div class="col-md-4 text-right">
        <h1>Mikmak</h1>
    </div>
</header>

<main class="row col-md-12">
    <br />
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <h4>Shipping Method</h4>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <a href="/ShippingMethod/Index" class="btn btn-primary btn-lg navbar-right">Cancel</a>
                            <a href="/ShippingMethod/Delete/@Model.Id" class="btn btn-primary btn-lg navbar-right">Delete</a>
                            <a href="/ShippingMethod/Create" class="btn btn-primary btn-lg navbar-right">Create</a>
                            <a href="/ShippingMethod/Edit/@Model.Id" class="btn btn-primary btn-lg navbar-right">Edit</a>
                        </div>
                    </div>

                </div>

                <div class="col-md-12">
                    <br />
                    <br />
                </div>

                <div class="col-md-12 table-bordered">
                    <br />
                    <dl class="dl-horizontal">
                        <dt>
                            <label>Naam</label>
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>
                        <dt>
                            <label>Prijs</label>
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Price)
                        </dd>
                        <dt>
                            <label>Beschrijving</label>
                        </dt>
                        <dd>
                            @Html.TextAreaFor(model => model.Description, new { @readonly = "readonly" })
                        </dd>
                    </dl>

                </div>
            </div>
        </div>
        <div class="col-md-4 table-bordered">
            @await Component.InvokeAsync("ShippingMethodAll")
        </div>

    </div>
</main>


<footer class="row col-md-12">
    <br />
    <div class="col-md-12 text-center">&copy; 2017 - Mikmak - Mohamed El Kachari</div>
</footer>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}