@model IEnumerable<Mikmak.Models.ShippingMethod>

@{
    ViewData["Title"] = "Index";
}

<header class="row col-md-12 table-bordered">
    <div class="col-md-8">
        <a href="/Home/Admin" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
        </a>
    </div>
    <div class="col-md-4 text-right">
        <h1>Mikmak</h1>
    </div>
</header>

<main class="row col-md-12">
    <br />
    <div class="row">
        <div class="col-md-8">

            <div class="col-md-9">
                <h4>Shipping Method</h4>
            </div>
            <form asp-action="Create">
                <div class="col-md-3">
                    <input type="submit" value="Create" class="btn btn-primary btn-lg navbar-right" />
                </div>
            </form>

        </div>
        <div class="col-md-4 table-bordered">
            @await Component.InvokeAsync("ShippingMethodAll")
        </div>
    </div>
</main>

<footer class="row col-md-12">
    <br />
    <div class="col-md-12 text-center">&copy; 2017 - Mikmak - Mohamed El Kachari</div>
</footer>


